@charset "UTF-8";

.mainbar-ele {
	width: 1300px;
}

.mainbar-ele img {
	display: inline-block;
	margin-right: 30px;
	height: 100px;
	padding-top: 10px;
	cursor: pointer;
}

.mainbar-ele ul {
	list-style: none;
	margin-top: 35px;
	padding: 0;
}

.mainbar-ele li {
	display: inline;
	margin: 0 40px;
	padding: 10px;
	font-size: 25px;
	color: #B4B4B4;
	cursor: pointer;
}

.mainbar-ele a {
	text-decoration: none;
	color: #B4B4B4;
}

.mainbar-ele li[id="store-btn"] a {
	color: #696969;
	font-weight: bold;
}

.main-search {
	 display: inline-block;
	 vertical-align: top;
	 line-height: 120px;
	 margin: 0px;
	 position: relative;
}

.search-div, .main-search select {
	display: inline-block;
	vertical-align: middle;
	margin: 30px 5px;
	font-size: 18px;
	box-shadow: 0 0 0 3px #ffca66;
	border: none;
	border-radius: 5px;
}

.search-div {
	width: 560px;
	padding: 15px;
	margin-right: 20px;
}

.main-search select {
	padding: 13px;
}

.search-div:focus, .main-search select:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 0 3px #ffa542;
}

.main-search img {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 36px;
	right: 2px;
	cursor: pointer;
}