@charset "UTF-8";

input {
	width: 830px;
	padding: 10px;
	vertical-align: center;
	border: 2px solid #BDBDBD;
	border-radius: 5px;
	font-size: 15px;
}

textarea {
	width: 830px;
	height: 600px;
	padding: 10px;
	border: 2px solid #BDBDBD;
	border-radius: 5px;
	font-size: 15px;
	line-height: 23px;
	resize: none;
}

input:focus, textarea:focus {
	outline: none;
	border: 2px solid #6E6E6E;
	border-radius: 5px;
}

.attachList {
	width: 830px;
	margin: 7px;
	padding: 0 85px;
	list-style: none;
	text-align: left;
}