@charset "UTF-8";

.joinForm div {
	margin: 30px;
}

.joinForm input {
	margin: 0 5px;
	border: none;
	border-bottom: 1px solid #D8D8D8;
	font-size: 17px;
	height: 30px;
	width: 400px;
}

.joinForm input[name='userAdd'] {
	width: 120px;
}

.user-add {
	width: 450px;
}

.add-btn {
	border: none;
	height: 25px;
	color: black;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px;
	border-radius: 3px;
}

.add-btn:hover {
	color: white;
	cursor: pointer;
	background: #b3b3b3;
}

.add-btn:active {
	color: black;
	cursor: pointer;
	background: #efefef;
}

.joinForm input:focus {
	outline: none;
	border-bottom: 1px solid #868686;
}

.check-g {
	margin: 5px 0 0 0;
	font-size: 13px;
	color: #0a8a06;
	display: none;
}

.check-r {
	margin: 5px 0 0 0;
	font-size: 13px;
	color: #ff5b5b;
	display: none;
}

.see-pw {
	width: 25;
	height: 20;
	ling-weight: 25px;
	vertical-align: middle;
	display: none;
	margin: 0 0 0 2px;
}

.no-see-pw {
	width: 27;
	height: 20;
	ling-weight: 25px;
	vertical-align: middle;	
}

.joinForm small {
	font-size: 11px;
	color: #B40404;
}