@charset "UTF-8";

table.faq {
  border-top: 1px solid #c3c3c3;
  border-collapse: collapse;
  text-align: center;
  color: #424242;
  line-height: 1.7;
  width: 1158px;

}
table.faq thead th {
  padding: 10px 45px;
  vertical-align: center;
  border-bottom: 1px solid #c3c3c3;
  background: #f0f0f2;
}
table.faq td {
  padding: 10px;
  vertical-align: center;
  border-bottom: 1px solid #E6E6E6;
}
.th-title {
  padding: 10px 50px;
  width: 945px;
  vertical-align: center;
  border-bottom: 1px solid #E6E6E6;
}
.td-title a {
  padding: 10px 100px;
  text-decoration: none;
  color: #424242;
}
.td-title a:hover {
  color: #848484;
  text-decoration: underline;
}
.td-title a:active {
  color: #2b2b2b;
}

.tr-content {
  display: none;
  background: white;
  box-shadow: inset 0 1em 1.5em -1em #E6E6E6;
}

.modi-td {
	display: none;
}

.faq-title {
	width: 700px;
	margin-bottom: 20px;
	padding: 10px;
	vertical-align: center;
	border: 2px solid #BDBDBD;
	border-radius: 5px;
	font-size: 15px;
}

textarea[id="FAQCon"] {
	padding: 10px;
	width: 700px;
	height: 610px;
	resize: none;
	line-height: 23px;
	border: 2px solid #BDBDBD;
	border-radius: 5px;
	font-size: 15px;
}

.faq-title:focus, textarea[id="FAQCon"]:focus {
	outline: none;
	border: 2px solid #6E6E6E;
	border-radius: 5px;
}

.modi-btn {
	margin: 0 0 0 900px;
	height: 30px;
	width: 55px;
	border: 1px solid #8cd87c;
	border-radius: 4px;
	background: white;
	color: #8cd87c;
}

.modiMo-btn {
	margin: 0 0 0 600px;
	height: 30px;
	width: 55px;
	border: 1px solid #8cd87c;
	border-radius: 4px;
	background: white;
	color: #8cd87c;
}

.remo-btn {
	height: 30px;
	width: 55px;
	border: 1px solid #ff8080;
	border-radius: 4px;
	background: white;
	color: #ff8080;
}

.modiMo-btn:hover, .modi-btn:hover {
	background: #50be38;
	color: white;
}

.remo-btn:hover {
	background: #e65151;
	color: white;
}

.FAQBtn {
	margin-left: 1055px;
	width: 100px;
	height: 40px;
	border: #BDBDBD;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
}
