@charset "UTF-8";

.menu-tb {
	width: 500px;
	height: 60px;
	border: none;
	margin: 0 0 100px 0;
	font-size: 18px;
}

.menu-tb td {
	text-align: center;
	padding: 20px;
}

.my-info-tb {
	width: 701px;
	height: 451px;
	border-collapse: collapse;
}

.my-info-tb td{
	width: 350px;
	height: 225px;
	text-align: center;
}

.my-info-tb td:hover, .my-store-tb td:hover{
	cursor: pointer;
	background: #f8f8f8;
	box-shadow: 2px 2px 8px 2px #dfdfdf inset;
	transition: all 0.7s;
}

.my-info-tb td p, .my-store-tb td p{
	font-weight: bold;
	font-size: 17px;
	color: #252525;
}

.my-store-tb {
	display: none;
	width: 700px;
	height: 450px;
	border-collapse: collapse;
}

.my-store-tb td {
	width: 350px;
	height: 225px;
	text-align: center;
}

.my-info, .store-info {
	cursor: pointer;
}

.my-info {
	font-weight: bold;
	box-shadow: inset 0 -3px #A4A4A4;
}

.user-up, .store-up {
	border: 1px solid #c0c0c0;
	border-top: none;
	border-left: none;
}

.heart-pd, .pd-re {
	border: 1px solid #c0c0c0;
	border-top: none;
	border-right: none;
}

.review-mana, .pd-mana {
	border: 1px solid #c0c0c0;
	border-left: none;
	border-bottom: none;
}

.deal-he {
	border: 1px solid #c0c0c0;
	border-right: none;
	border-bottom: none;
}