@charset "UTF-8";

table.notice {
  border-top: 1px solid #c3c3c3;
  border-collapse: collapse;
  text-align: center;
  color: #424242;
  line-height: 1.7;
  width: 1158px;

}
table.notice thead th {
  padding: 10px 45px;
  vertical-align: center;
  border-bottom: 1px solid #c3c3c3;
  background: #f0f0f2;
}
table.notice td {
  padding: 10px;
  vertical-align: center;
  border-bottom: 1px solid #E6E6E6;
}
.th-title {
  padding: 10px 50px;
  width: 450px;
  vertical-align: center;
  border-bottom: 1px solid #E6E6E6;
}

.td-title {
  width: 740px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-title a {
  text-decoration: none;
  color: #424242;
}
.td-title a:hover {
  color: #848484;
  text-decoration: underline;
}
.td-title a:active {
  color: #2b2b2b;
}

.th-writer {
  padding: 10px;
  width: 130px;
  vertical-align: center;
  border-bottom: 1px solid #E6E6E6;
}

.b-btn {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid #dfdfdf;
  background: #c2c2c2;
  color: white;
  cursor: pointer;
}

.noti-regi-btn {
	margin-left: 1055px;
	width: 100px;
	height: 40px;
	border: #BDBDBD;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
}