@charset "UTF-8";

/* 모달창 배경 */
.modiModal {
  display: none; /* 숨기기 */
  position: fixed;
  z-index: 1;
  padding-top: 40px; /* 박스 위치 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modi-content {
  background-color: #fefefe;
  margin: 0px auto;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 790px;
  height: 880px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px gray;
}

/* Modal Header */
.modi-header {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

/* Modal body */
.modi-body {
  height: auto;
  padding: 0px 20px;
  font-size: 15px;
  line-height: 5.5;
}

/* Modal footer */
.modi-footer {
  padding: 45px;
  text-align: right;
}
