<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.icia.mapper.FAQBoMapper">
	<select id="getList" resultType="kr.icia.domain.FAQBoardVO">
		select bno, title, writer, content from faq_bo order by bno desc
	</select>

	<insert id="insertFaq">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select faq_seq_bo.nextval from dual
		</selectKey>
		insert into faq_bo(bno, title, content, writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>

	<select id="read" resultType="kr.icia.domain.FAQBoardVO">
		select content from faq_bo where bno=#{bno}
	</select>

	<delete id="delete">
		delete faq_bo where bno=#{bno}
	</delete>

	<update id="update">
		update faq_bo set title=#{title}, content=#{content},
		updateDate=sysdate where bno=#{bno}
	</update>

	<select id="totalCnt" resultType="int">
		select count(*) from faq_bo
	</select>

</mapper>