<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.icia.mapper.MemberMapper">
	<resultMap type="kr.icia.domain.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap type="kr.icia.domain.MemJoinVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="userName" column="username" />
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<select id="login" resultMap="memberMap">
		select mem.userid, userpw, username, usernick, usermail,
		useradd, regdate, updatedate, adminck, enabled, auth
		from mem_join_bo mem left outer join
		mem_auth_bo auth on mem.userid=auth.userid
		where mem.userid=#{userid}
	</select>

	<select id="findId" resultType="string">
		select userid from mem_join_bo where usermail=#{userMail}
	</select>

	<select id="findPw" parameterType="map" resultType="int">
		select count(userpw) from mem_join_bo where userid=#{userid} and usermail=#{userMail}
	</select>

	<update id="pwMailSend">
		update mem_join_bo set userpw=#{userpw} where userid=#{userid} and usermail=#{userMail}
	</update>
</mapper>